/* 展示区 */
.show-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 菜单按钮 */
.btn-menu-btn,
.btn-menu-btn * {
    box-sizing: border-box;
}

.btn-menu-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    transform: scale(.5);
}

.btn-menu-btn .innerline {
    display: block;
    position: absolute;
    width: 80%;
    height: 15%;
    left: 10%;
    border-radius: 5px;
    background-color: #000;
    transition: all 200ms linear;
}

.btn-menu-btn .innerline.one {
    top: 13.75%;
}

.btn-menu-btn .innerline.two {
    top: 42.5%;
}

.btn-menu-btn .innerline.three {
    bottom: 13.75%;
}

.btn-menu-btn.active .innerline{
    background-color: red;
}

.btn-menu-btn.active .innerline.one {
    top: 42.5%;
    transform: rotate(45deg);
}

.btn-menu-btn.active .innerline.two {
    opacity: 0;
    background-color: inherit;
}

.btn-menu-btn.active .innerline.three {
    bottom: 42.5%;;
    transform: rotate(-45deg);
}